$skillsType:3;
$front-end:3;
$back-end:2;
$javascript:2;
$skillsnumber:$front-end,$javascript,$back-end;
$socialColors:#0077b5,#6e5494,#3b5998,#1da1f2,#e1306c;
$socialMedia:linkedin,github,facebook,twitter,instagram;